[project]
	description = basic cube texturing application in Tizen platform
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rubric4b
[access "refs/for/refs/*"]
	read = group user/rubric4b
	push = group user/rubric4b
	label-Code-Review = -2..+2 group user/rubric4b
	label-Verified = -1..+1 group user/rubric4b
	rebase = group user/rubric4b
	removeReviewer = group user/rubric4b
	submit = group user/rubric4b
[access "refs/heads/*"]
	read = group user/rubric4b
	create = group user/rubric4b
	push = +force group user/rubric4b
	pushMerge = group user/rubric4b
[access "refs/tags/*"]
	push = group user/rubric4b
	push = +force group user/rubric4b
